{
    http_port 7860
}

:7860 {
    log

    trusted_proxies {
        source {{.EDGEONE_IPS}}
    }

    @edgeone {
        remote_ip {{.EDGEONE_IPS}}
    }
    reverse_proxy @edgeone localhost:3000

    reverse_proxy localhost:{{.OTHER_PORT | default "8080"}}
}